html, body {
    @apply font-sans;
    @apply text-base;
    background-color: #1d1f21;
    color: #c5c8c6;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
    @apply font-bold;
    /* margin-top: 2.75rem; */
    /* margin-bottom: 1.0rem; */
}

h1 {
    @apply text-2xl;
    /* margin-top: 3.50rem; */
    /* margin-bottom: 1.0rem; */
}

h2 {
    @apply text-xl;
    /* @apply mt-two; */
    /* @apply mb-half; */
    /* margin-top: 2.75rem; */
    /* margin-bottom: 1.0rem; */
}

h3 {
    @apply text-lg;
    /* margin-top: 2.25rem; */
    /* margin-bottom: 1.0rem; */

}

h4 {
    @apply text-base;
    /* margin-top: 2.0rem; */
    /* margin-bottom: 1.0rem; */
}

p, ul, ol, pre {
    @apply mb-one;
}

strong {
    @apply font-bold;
}

ul {
    @apply mx-4;
    @apply list-disc;
    @apply list-inside;
}

ol {
    @apply mx-4;
    @apply list-decimal;
    @apply list-inside;
}

li {
    @apply mb-half;
}

blockquote {
    @apply px-4;
    border-left: 4px solid #2f3235;
}

hr { 
    height: 4px;
    border: 0;
}

.hidden {
    visibility: hidden;
}
.hidden:hover {
    visibility: hidden;
}

a:link { 
    color: #81a2be;
    text-decoration: none;
}  /* unvisited links */
a:visited { 
    color: #81a2be;
}  /* visited links   */
a:hover { 
    color: #81a2be;
    text-decoration: underline;
}  /* user hovers     */

h1, h2, h3, h4, h5, h6 {
    /* font-weight: 600; */
    color: #59a59b;
    /* line-height: 1.1em; */
}

.body {
    position: relative;

    max-width: 720px;
}

.prose {
    max-width: inherit;
}

.no-pointer-events {
    pointer-events: none;
}

.pointer-events {
    pointer-events: auto;
}

.content {
}

.header {
}
.logo img {
    width: 35px;
    height: 35px;
    text-decoration: none;
}
.logo {
    font-weight: 700;
}

.navigation { }
.navigation ul {
    margin: auto;
    list-style: none;
    display: flex;
    align-items: center;
}
.navigation li {
    margin: auto;
    margin-left: 0.5em;
}
.navigation a {
}

article {
}

article img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article blockquote {
    font-style: italic;
}

pre {
    overflow: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

code {
    font-family: 'fira-mono', menlo, monospace;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px;
    padding-left: 0.10em;
    padding-right: 0.10em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
    border-color: #2f3235;
    background-color: #2f3235;
    display: inline-block;
}

a code {
}

.emoji {
    width: 1em;
    height: 1em;
}

.life-canvas {
    z-index: 0;
    position: absolute;
}

img.me {
    width: 150px;
    float: right;
    margin-left: 1em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

img.emoji {
    display: inline-block;
}

.archive {
    list-style: none;
    padding-left: 0;
}
.archive a {
}
.archive .post-title {
    margin-bottom: 0.1em;
}
.archive .post-date {
    margin-top: 0.1em;
}
.archive li:before {
    display: none;
};
.archive li {
    margin: 40px 0;
}
.archive li:first-child {
    margin-top: 0;
}

.archive li:last-child {
    margin-bottom: 0;
}

.footnotes {
    @apply mx-0;
    border-top: 4px solid #2f3235;
    padding-top: 2em;
    margin-top: 2em;
}

.sketch {
    position: relative;
}

.sketch canvas {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.sketch .play-button {
    position: absolute;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    white-space: normal;
    text-align: center;
    background-color: #d3d3d3;
    font-size: 2em;
    cursor: pointer;
    opacity: 0.0;
}

.sketch .play-button.first-time {
    opacity: 0.5;
}

.sketch .play-button.hidden:hover {
    visibility: hidden;
}

.sketch .play-button:hover {
    opacity: 0.8;
}
