html, body { }

body {
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    font-family: 'source-sans-pro', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #444;
    -webkit-font-smoothing: antialiased;
}

a:link    { color: #3868FF }  /* unvisited links */
a:visited { color: #8AA6FF }  /* visited links   */
a:hover   { color: #0C46FF }  /* user hovers     */

h1 {
    font-family: "fatfrank";
    font-weight: 400;
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
}

.body {
    position: relative;
    margin: 0em auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 720px;
}

.content {
    padding: 2em;
    margin-bottom: 5em;

    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
}

.header {
    margin: 2em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgba(68, 68, 68, 0.8);
    text-shadow: 1px 1px 2px #fff, 0 0 0 #000, 1px 1px 2px #fff;
}
.logo a {
    color: #444;
    text-decoration: none;
}
.logo {
    font-weight: 700;
}

.navigation { }
.navigation ul {
    margin: auto;
    list-style: none;
    display: flex;
    align-items: center;
}
.navigation li {
    margin-left: 0.5em;
}
.navigation a {
    text-decoration: none;
}

article {
}
article img {
    max-width: 100%;
}

pre {
    font-size: 1.1em;

    overflow: scroll;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.emoji {
    width: 1em;
    height: 1em;
}

.post-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.post-date {
    color: #C3C3C3;
    display: block;
    font-style: italic;
}

.life-canvas {
    z-index: 0;
    position: absolute;
}

img.me {
    width: 150px;
    float: right;
    margin-left: 1em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.archive {
    list-style: none;
    padding-left: 0;
}
.archive a {
    text-decoration: none;
}
.archive .post-title {
    margin-bottom: 0.1em;
}
.archive .post-date {
    margin-top: 0.1em;
}
.archive li {
    margin: 40px 0;
}
.archive li:first-child {
    margin-top: 0;
}
.archive li:last-child {
    margin-bottom: 0;
}

hr { 
    background-color: #f6f6f6; 
    height: 2px; 
    border: 0; 
}
